
body { 
    background-color: #fff; 
    color: #333; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px;
}

h1 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 10px 0 15px 0;  
    border: 0;
    padding: 0;
}

h2 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px;
}


h3 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px;
}


h4 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px; 
}


h5 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px; 
}


h6 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px;
}

p {  
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px;
}

ul {
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px; 
}

li { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px; 
}

footer { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    margin: 0;  
    border: 0;
    padding: 20px 20px 20px 20px; 
}
