
body { 
    padding: 20px 20px 20px 20px;
    background-color: #fff; 
    color: #333; 
}

h1 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px 0 15px 0;  
}

h2 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}


h3 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}


h4 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}


h5 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}


h6 { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}

p {  
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}

ul {
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px; 
}

li { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}

footer { 
    font-size: 30px; 
    font-color: #333;
    width: 100%; 
    padding: 10px; 
    border: 10px;
    margin: 10px;  
}
